.page {
  background: rgb(23, 23, 23);
  color: #fff;
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 1200px;
}

.todo__title {
  font-size: 30px;
  line-height: 34px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  color: rgb(162, 161, 161);
  padding-top: 20px;
}

.todo__subtitle {
  color: rgb(162, 161, 161);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-top: 20px;
}

.todo__wrapper {
  margin: 0 auto;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo__form {
  width: 100%;
}

.todo__name {
  color: #fff;
  border: 0;
  background: #000;
  font-family: inherit;
  font-size: 18px;
  line-height: 28px;
  box-sizing: border-box;
  height: 50px;
  padding: 0;
  padding: 10px;
  outline: none;
  width: 100%;
  border-radius: 10px;
}

.todo__button {
  box-sizing: border-box;
  border: 0;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s;
  background: transparent;
  color: red;
  font-weight: 700;
  font-size: 18px;
}

.todo__button:hover {
  opacity: 0.6;
}

.todo__list {
  width: 100%;
  padding: 0 10px;
  margin: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.todo__text {
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo__item {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: #000;
}

.todo__item:first-child {
  margin-top: 0;
}

.footer {
  margin: 0 auto;
}

.footer__copy {
  text-align: center;
  padding-bottom: 20px;
  margin: 0;
  font-weight: 300;
  opacity: 0.6;
}
